body {
  font-family: 'Courier New', Courier, monospace;
}
.error.message {
  border: solid 1px red;
  background: red;
}
.info.message {
  border: solid 1px black;
  background: black;
}
.message {
  margin: 0;
  padding-left: 1em;
  /* padding: 1em; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  border-radius: 10px;
}
.blog {
  border: solid 1pt black;
  max-width: 500px;
  margin: 2pt;
  padding: 2pt;
  overflow: hidden;
  position: relative;
}
.blog a {
  text-decoration: none;
}
.blog-title {
  display: inline;
  color: black;
  text-decoration: underline;
}
.blog-author {
  color: black;
}
.blog .button-visibility {
  right: 2pt;
  position: absolute;
}
.blog .button-likes {
  margin-left: 1em;
}
.blog .button-remove {
  background: red;
  border-color: red;
}
.blog .button-remove:hover {
  color: red;
}
.blog button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  min-width: 50px;
  box-sizing: border-box;
  border: solid 1px black;
  display: inline-block;
  transition: all 0.1s;
}
.blog button:hover {
  background-color: white;
  color: black;
}

.blog-details ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav * {
  padding-right: 1em;
}
.nav-link {
  display: inline-block;
}
